# 文件读取及绘图

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import xlwt  # 保存为xls文件，需要先安装 xlwt 包
path0 = "/home/carton/workspace/python/Multivariate-statistical-analysis/database/第二章数据/"
path1 = "/home/carton/workspace/python/Multivariate-statistical-analysis/save-database/第二章数据/"

## 读入txt数据

In [5]:

s_file = path0 + "SH#600000.txt"
df_Ex0 = pd.read_csv(s_file, encoding="gbk", skiprows=2, names=[
                     "开盘", "最高", "最低", "收盘", "成交量", "成交额"], index_col=0, skipfooter=1, engine='python')
df_Ex0.index = pd.to_datetime(df_Ex0.index)

## 存为csv文件

In [6]:
df_s_file = path1 + "SH#600000.csv"
df_Ex0.to_csv(df_s_file, encoding="gbk", sep=",")
df_Ex0

               开盘     最高     最低     收盘       成交量          成交额
2000-01-04  24.98  25.78  24.75  25.57   4496000  113946784.0
2000-01-05  25.57  25.98  25.15  25.28   5252800  134465424.0
2000-01-06  25.18  26.30  25.05  25.99   6229600  160059792.0
2000-01-07  26.30  27.50  26.12  26.90  21355300  575751104.0
2000-01-10  27.00  27.85  26.71  27.25  16539700  450453504.0
...           ...    ...    ...    ...       ...          ...
2022-05-16   8.05   8.07   7.93   7.97  20990826  167326400.0
2022-05-17   8.01   8.04   7.95   8.02  18714191  149733536.0
2022-05-18   7.98   8.01   7.92   7.95  19463913  154781984.0
2022-05-19   7.92   7.98   7.89   7.91  19904191  157705904.0
2022-05-20   7.94   8.05   7.92   8.04  32699572  262095152.0

[5302 rows x 6 columns]

## 读入 txt文件

In [8]:
t_file = path0 + "上证50代码列表.xlsx"
df_Ex1 = pd.read_excel(t_file, dtype=str)
df_Ex1 = df_Ex1.applymap(lambda x: str(x).strip())  # 剔除单元格中的空格字符

## 存入txt文件

In [9]:
df1_s_file = path1 + "test.xls"
df_Ex1.to_excel(df1_s_file)
df_Ex1

/tmp/ipykernel_10017/2040907498.py:2: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df_Ex1.to_excel(df1_s_file)

        代码    简称
0   600000  浦发银行
1   600028  中国石化
2   600030  中信证券
3   600031  三一重工
4   600036  招商银行
5   600048  保利发展
6   600050  中国联通
7   600104  上汽集团
8   600196  复星医药
9   600276  恒瑞医药
10  600309  万华化学
11  600436   片仔癀
12  600438  通威股份
13  600519  贵州茅台
14  600547  山东黄金
15  600570  恒生电子
16  600585  海螺水泥
17  600588  用友网络
18  600690  海尔智家
19  600745  闻泰科技
20  600809  山西汾酒
21  600837  海通证券
22  600887  伊利股份
23  600893  航发动力
24  600900  长江电力
25  601012  隆基股份
26  601066  中信建投
27  601088  中国神华
28  601138  工业富联
29  601166  兴业银行
30  601211  国泰君安
31  601288  农业银行
32  601318  中国平安
33  601336  新华保险
34  601398  工商银行
35  601601  中国太保
36  601628  中国人寿
37  601633  长城汽车
38  601668  中国建筑
39  601688  华泰证券
40  601728  中国电信
41  601857  中国石油
42  601888  中国中免
43  601899  紫金矿业
44  601919  中远海控
45  601995  中金公司
46  603259  药明康德
47  603288  海天味业
48  603501  韦尔股份
49  603986  兆易创新